@charset "utf-8";
/* CSS Document */
body {
	width: 720px;
	margin: auto;
}
td {
	padding: 0 15px 0 15px;
}
table, td {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
table.center {
	margin-left: auto;
	margin-right: auto;
}
table {
    
	border-collapse: collapse;

}


.boxed {
  
	border: 2px solid blue ;

}
.WWbox{
    background-color: yellow;
    border: solid 2px green;
    box-shadow: 0px 3px 5px 1px silver;
}
h1{
    color: #006600;
}
h2{
    color: #006600;
    text-decoration: underline;
}

h3{
   font-weight: bold;
}

